/* .novoCadastro{
  width: 180px;
  border: none ;
  flex-direction: column;
} */
.container-list{
  flex-direction: column;
}
.novoCadastro{
  margin-bottom: 15px;
  margin-right: -1000px;
  float: right;
}