.myButton{
  margin-top: 8px;
  width: 100%;
  height: 45px;
  border:0px
}
.content{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  height: 450px;
}