.cadastro-produto{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

}
h1{
  font-size: 28px;
  text-align: center;
  padding-top: 20px;
}
.myButton{
  margin-top: 8px;
  width: 100%;
  height: 45px;
  border:0px
}
.content{
  width: 100%;
  padding: 96px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);

  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
img{
  height: 400px;
}